#keep_alive {
  visibility: hidden;
}

.katex {
  font: normal 1.1em KaTeX_Main,"Times New Roman",serif;
  font-style: normal;
  font-weight: 350;
  line-height: 1.2;
  text-indent: 0;
  text-rendering: auto;
}
img {
  float: right;
  margin: 10px 10px 10px 0;
  width: 35%;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

ul {
  padding-inline-start: 20px;
}

.well{
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

h3, .h3 {
font-size: 20px;
}


.default-sortable.bucket-list-container {
background-color: transparent;
padding: 0px; 
margin: 0px; 
}

.default-sortable.rank-list-container {
margin-left: 0px;
}

h2, .h2 {
  margin-top: 0px;
  font-size: 23px;
}

.well {
margin-top: 18px;
padding:10px;
  
}

.tab-content {
margin-left: 10px;
margin-right: 10px;
}


 .col-sm-7{
position: relative;
min-height: 1px;
padding-left: 0px;
padding-right: 0px;
}

.col-sm-5{
  padding-right:0px;
}

.row {
margin-left: 0px;
margin-right: 0px;
}

.control-label{
  font-weight: normal;
}

pre {
background-color:  #ffffff;
}

#misclassTypeFake, #rareExposureFake, 
#rareOutcomeFake, #pop_group_SFake, #assump_SFake{
  color: LightGray;
}

.nav>li>a {
position: relative;
display: block;
padding-left: 10px;
padding-right: 10px;
}